<div class="bg-light">
  <div id="carouselExampleCaptions" data-ride="carousel" style="padding: 100px;">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/images/dash1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-content">
          <h1 > News 360</h1>
         <h1>

            Read the world today

          </h1>
          <div id="register">
            <a class="btn btn-light btn-lg register-btn" style =" border-color:chocolate ; width:auto;" routerLink="/user/registration">Register</a>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
